<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kalkulator BMI</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>

    <h1>Kalkulator BMI</h1>

    <form action="/check_bmi" method="post">
        <input type="number" id="weight" name="weight" placeholder="Waga?" required>
        <input type="number" id="height" name="height" placeholder="Wysokość?" required>
        <button>Sprawdź</button>
    </form>
    <button type="button" onclick="clearQuestion()">Restart</button>
    <p></p>
    <div id="message">{{ result_message }}</div>
    <div id="degreeValue" style="display: none;">{{ needle_degree }}</div>
    <div class="scale-container">
        <div class="needle" id="needle"></div>
    </div>
<script src="{{ url_for('static', filename='script.js') }}"></script>

</body>
</html>
